@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* page loader css */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #07080b;
}

/* PRELOADER CSS */
.page-loader {
  width: 100%;
  height: 100vh;
  position: relative;
  background: rgb(22, 22, 22);
  z-index: 1000;
  .txt {
    color: #919090;
    text-align: center;
    font-size: 28px;
    top: 40%;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: bold;
    line-height: 1.5;
  }
}

/* SPINNER ANIMATION */
.spinner {
  position: relative;
  top: 35%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/* page loader end */

.container-fluid {
  /* border: 2px solid red; */
  position: relative;
  height: auto;
  background-color: #212121;
  overflow: hidden;
  width: 100%;
}

.aside-navbar {
  background-color: #0a1527;

  padding-bottom: 20px;
  /* border: 2px solid green; */
  overflow: auto;
  height: 100vh;
  border: none;
}

.aside-navbar::-webkit-scrollbar {
  display: none;
}

#sidebar-nav {
  width: 250px;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button,
.accordion-item,
.button {
  /* border: 2px solid blue; */
  background-color: #0a1527;
  color: #fff;
  border: none;
  text-align: left;
}

.accordion-button i,
.button i {
  margin-right: 10px;
  /* border: 2px solid red; */
  border-radius: 50%;
  background-color: #03050a;
  height: 40px;
  width: 40px;
  text-align: center;
  place-content: center;
}

.aside-navbar .accordion-button:hover,
.aside-navbar .button:hover {
  /* border: 2px solid red; */
  background-color: #03050a;
  color: aquamarine;
  /* border-radius: 0 50px 50px 0; */
  /* transition: all 0.3s linear; */
}

.accordion-item:hover {
  /* padding-right: 20px; */
}

.accordion-body li a:hover {
  color: rgb(74, 234, 242);
}
.button::before {
  /* background-color: red; */
}

.username-profile {
  /* border: 2px solid red; */
  height: 60px;
  color: #fff;
  font-weight: 500;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  padding-left: 20px;
  letter-spacing: 2px;
}

.user {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.division {
  color: rgb(160, 160, 160);
  height: 1px;
  padding: 0;
  margin: 10px 0;
  /* background-color: red; */
}

.logo img {
  /* border: 2px solid green; */
  width: 100%;
  height: auto;
  padding: 20px 30px;
}

.button {
  padding-left: 20px;
  height: 80px;
  width: 100%;
  text-align: start;
  border: none;
}

.accordion-body li {
  list-style: none;
  /* border: 2px solid red; */
  margin-bottom: 8px;
}

.accordion-body a {
  text-decoration: none;
  color: #fff;
}

/* main content navbar */

/* .main-content {
  border: 2px solid blue;
  height: auto;
  max-width: 100vw;
  width: 100%;
  padding: 0;
} */

main,
.main-content {
  height: 100vh;
  width: 100%;
  overflow: auto;
  /* border: 2px solid gold; */
  border: none;
  background-color: #0d182e;
}

/* .main-content {
  background-color: #0d182e;
  height: 100vh;
} */

main .navbar {
  /* position: fixed; */
  background-color: #0a1527;
  width: 100%;
  height: 4rem;
  max-height: 4rem;
  padding: 0 20px;
}

.menu-icon {
  background-color: #03050a;
  color: rgb(16, 230, 180);
  font-size: 16px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.username-dropdown {
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.username-dropdown .username:hover {
  color: rgb(74, 234, 242);
  transition: all 0.2s ease-in-out;
}

.down-arrow {
  color: #fff;
}

.username-dropdown img {
  height: 35px;
  width: 35px;
}

.dropdown-menu {
  top: 3rem;
  left: -8rem;
  background-color: #0a1527;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #03050a;
  color: #fff;
}

/* main-content */

section {
  /* border: 2px solid red; */
  /* height: 100vh; */
  width: 100%;
  /* overflow: auto; */
  background-color: #0d182e;
}

.section-box {
  color: #fff;
  /* border: 2px solid yellow; */
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 20px 0px 20px;
}

.section-box h3 {
  font-weight: 700;
  margin-bottom: 40px;
  align-self: flex-start;
}

.referel-link {
  /* border: 2px solid red; */
  width: 100%;
  padding: 0;
  margin: 0;
}

.referel-link p {
  font-weight: 600;
  background-color: #0a1527;
  display: flex;
  align-items: center;
  height: auto;

  /* border: 2px solid green; */
  border-radius: 10px;
  padding: 15px 20px;
  flex-wrap: wrap;
  text-wrap: wrap;
}

.referel-link span {
  font-weight: 400;
}

.referel-link .btn {
  background-color: rgba(107, 224, 185, 0.838);
  color: #fff;
  margin-left: 20px;
}

.referel-link .btn:hover {
  color: #6d6d6d;
  transition: all 0.2s linear;
}

.wrapper-content {
  /* border: 2px solid red; */
  padding: 10px;
  height: auto;
  display: grid;
  width: 100%;
  /* margin: 0 auto; */
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.wrapper-content .outer-div {
  height: auto;
  width: 100%;
  background-color: #0a1527;
  border: 2px solid rgba(69, 233, 179, 0.855);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.wrapper-content .inner-div {
  /* border: 2px solid rgba(107, 224, 185, 0.603); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 90%;
}

.wrapper-content div i {
  font-size: 44px;
  color: rgba(69, 233, 179, 0.855);

  /* border: 2px solid pink; */
  /* height: 60px; */
}

.wrapper-content div p {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
  gap: 5px;
}

.wrapper-content div span {
  font-weight: 700;
  /* border: 2px solid blue; */
}

.detail-content {
  /* border: 2px solid red; */
  height: auto;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
  /* width: 100%; */
}

.detail-content h5 {
  margin: 20px 0;
}

.detail-content .col-lg {
  background-color: #0a1527;
  border-radius: 10px;
  padding: 0 20px;
}

.user-details,
.cmc-archiver {
  /* border: 2px solid gold; */
  /* height: 40vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.cmc-archiver {
  /* border: 2px solid blue; */
  /* height: 40vh; */
}

.user-details table tr,
.table-content table tr {
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
}
.user-details table tr th,
.table-content table tr th {
  display: flex;
  padding: 10px;
  width: 50%;
}

.user-details table tr td,
.table-content table tr td {
  border: none;
  width: 50%;
}

.user-details table tr:hover {
  background-color: #0b131fae;
  transition: all 0.2s;
  border-radius: 5px;
}

table tbody tr {
  height: 60px;
}

table th,
td {
  padding-left: 10px;
}

/* profile page */

.table-content {
  background-color: #0a1527;
  border-radius: 5px;
}

footer {
  background-color: #0a1527;
  color: #fff;
  width: 100%;
  height: 80px;
  border-radius: 5px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

footer span {
  color: aquamarine;
}

/* change password page */

.form input {
  background-color: #000;
  color: #fff;
  padding-left: 10px;
  border: none;
}

.form input:focus {
  background-color: #000;
  color: #fff;
}

.form input::placeholder {
  color: rgb(184, 184, 184);
  opacity: 1;
}

/* add wallet page */

.form select {
  margin-top: 10px;
}

.msg {
  /* display: none; */
  margin-top: 10px;
  word-wrap: break-word;
}
.form .errorField {
  color: red;
  /* display: none; */
  margin-top: 10px;
}

.successField {
  color: green;
}

table th,
table td {
  text-align: start;
}
table th {
  padding-bottom: 20px;
}

table td {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.link-selected {
  color: red !important;
}
@media (max-width: 468px) {
  .navbar {
    flex-wrap: nowrap;
    gap: 10px;
  }
}

@media (max-width: 988px) {
  /* .navbar {
    position: fixed;
  } */
}
